{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block icon %} <link href="{% static 'imagenes/miniatura.png' %}" rel="icon" type="image/png"> {% endblock %}
    {% block style %} 
    <link href="{% static 'css/1.css' %} " rel="stylesheet" type="text/css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    {% endblock %}
    <title>{% block title %} Ground Zero {% endblock %}</title>
</head>
<body>

    {% include "navbar.html" %}
    {% block content %}
    <div class="carousel-container">
        <div class="carrusel">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'imagenes/pinturas/848cd0a3e5a89113d879c8f49552ae75.jpg' %}">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'imagenes/OIP.jpg' %}">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'imagenes/4f7f831d8b2b9be55ab2366eaaf32f77.jpeg' %}" class="d-block w-10" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'imagenes/esculturas/caballosdeajedrez.jpg' %}">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
            </div>
    </div>
        <div class="parrafo1">
            <p>Como miembros de la cooperativa "Grupo Cero", hemos logrado crear un espacio de trabajo y exhibición para mostrar nuestras creaciones
                al público. Como artistas plásticos, dedicados a la pintura, escultura, orfebrería, tejido y otras formas de expresión artística, 
                hemos encontrado en la cooperación y el trabajo en equipo, una manera de compartir nuestras habilidades y talentos con el mundo. 
                Además, gracias a nuestro pequeño café, hemos creado un lugar donde no solo se pueden apreciar nuestras obras, sino también disfrutar
                de un espacio de reunión para atender a nuestros clientes que buscan trabajos personalizados o desean adquirir alguna de nuestras piezas.
                Como miembros de "Grupo Cero", estamos orgullosos de cómo la colaboración y la unión pueden llevar a logros excepcionales y seguir 
                impulsando nuestra pasión por el arte. </p>
        </div>
        <div class="parrafo2">
            <p>La creatividad y pasión de los artistas de la cooperativa "Grupo Cero" se refleja en cada obra que crean. Cada uno de ellos tiene un
                 estilo único y personal, que se ve reflejado en la variedad de técnicas y materiales que utilizan en sus obras de arte. Algunos se
                  enfocan en la pintura al óleo, mientras que otros prefieren la escultura en piedra o el tejido de textiles. Pero, a pesar de sus 
                  diferencias, todos comparten la misma visión de crear arte que inspire y emocione al espectador. Cada uno de ellos tiene una historia
                   que contar, y en cada obra se puede percibir su experiencia y su visión del mundo. Es un verdadero honor formar parte de esta cooperativa
                   , donde la colaboración y el apoyo mutuo son valores fundamentales para alcanzar el éxito. </p>
        </div>
    {% endblock %}
    {% block script %} 
                       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    {% endblock %}
    {% include "footer.html" %}

</body>
</html>