{% extends "1.html" %}
{% load static %}
{% block icon %}<link href="{% static 'imagenes/formularioicon.jpg'%}" rel="icon" type="image/png"> {% endblock %}
{% block style %} <link href="{% static 'css/estilopag4.css' %} " rel="stylesheet" type="text/css"> {% endblock %}
    <title>{% block title %} Formulario {% endblock %}</title>

</head>
<body>
    {% block content %} 
<main>
    <form action="" class="formulario" id="formulario">
        <div class="formulario__grupo" id="grupo__nombres">
            <label for="nombres" class="formulario__label">Nombres: </label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" id="nombres" name="nombres" placeholder="Homero">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">Los nombres sólo deben contener letras</p>
        </div>
        <div class="formulario__grupo" id="grupo__ap">
            <label for="ap" class="formulario__label">Apelido Paterno: </label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" id="ap" name="apellidopaterno" placeholder="Jay">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El apellido paterno sólo puede contener letras</p>
        </div>
        <div class="formulario__grupo" id="grupo__am">
            <label for="am" class="formulario__label">Apellido Materno: </label>
            <div class="formulario__grupo-input">
                <input type="text" id="am"  class="formulario__input" name="apellidomaterno" placeholder="Simpson">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El apellido materno solo puede contener letras</p>
        </div>
        <div class="formulario__grupo" id="grupo__genero">
            <label for="genero" class="formulario__label">Genero: </label>
            <div class="formulario__grupo-input">
                <select id="genero" name="genero">
                    <option selected value="----">------------</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="nobinario">No Binario</option>
                    <option value="otro">Otro</option>
                </select>
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El grupo</p>
        </div>  
        <div class="formulario__grupo" id="grupo__rut">
            <label for="rut" class="formulario__label">Rut:</label>
            <div class="formulario__grupo-input">
                <input type="text" id="rut" name="rut" placeholder="19.878.057-k" class="formulario__input">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El rut no puede contener carácteres especiales</p>
        </div>
        <div class="formulario__grupo" id="grupo__direccion">
            <label for="direccion" class="formulario__label">Dirección: </label>
            <div class="formulario__grupo-input">
                <input type="text" id="direccion" name="direccion" placeholder="SiempreViva 742" class="formulario__input">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">La direccion solo puede contener letras y números</p>
        </div>
        <div class="formulario__grupo" id="grupo__email">
            <label for="email" class="formulario__label">Correo Electrónico: </label>
            <div class="formulario__grupo-input">
                <input type="email" id="email" name="email" placeholder="correo@duocuc.cl" class="formulario__input">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El email necesita llevar un @</p>

        </div>
        <div class="formulario__grupo" id="grupo__phone">
            <label for="phone" class="formulario__label">Número de teléfono: </label>
            <div class="formulario__grupo-input">
                <input type="phone" id="phone" name="phone" placeholder="+56964144145" class="formulario__input">
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
            </div>
            <p class="formulario__input-error">El número solo puede contener números</p>

        </div>
        <!--  <div class="formulario__grupo formulario__grupo-terminos" id="grupo__terminos">
            <label class="formulario__label">
                <input type="checkbox" class="formulario__checkbox" name="terminos" id="terminos" class="formulario__input">
                Acepto los terminos y condiciones
            </label>
        </div>-->
        <div class="formulario__mensaje" id="formulario__mensaje">
            <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error:</b> Por favor, rellene el formulario correctamente.</p>
        </div>
        <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">Enviar</button>
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
        </div>    
    </form>
</main>
    {% endblock %}
    {% include "navbar.js" %}
    {% block script %} <script defer src="{% static 'js/4.js' %}"></script> {% endblock %}
</body>
</html>