{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<div class="footer-container">
    <footer class="pie-pagina">
        <div class="g1">
            <div class="box">
                <figure>
                    <img src="{% static 'imagenes/4f7f831d8b2b9be55ab2366eaaf32f77.jpeg' %}" alt="logo footer">
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Somos Grupo Cero, una cooperativa de artistas plásticos dedicados a la pintura, escultura, orfebrería, tejido y otras expresiones artísticas. En nuestro taller y sala de exhibición, creamos y compartimos obras únicas que reflejan nuestra pasión por el arte. Además, estamos comprometidos con la comunidad y la promoción del arte como herramienta para el cambio social. ¡Gracias por apoyar nuestro trabajo y ser parte de nuestra historia!</p>
            </div>
            <div class="box">
                <h2>SÍGUENOS</h2>
                <div class="redes-sociales">
                    <a href="https://www.Instagram.com/" title="Visítanos en Instagram">
                        <i class="fa-brands fa-instagram" style="color: #ff00ae;"></i>
                    </a>
                    
                    <a href="https://www.Twitter.com/" title="Síguenos en Twitter">
                        <i class="fa-brands fa-twitter" style="color: #1fb4ff;"></i>
                    </a>
                    
                    <a href="https://www.Facebook.com/" title="Dale un Me Gusta a nuestra página de Facebook">
                        <i class="fa-brands fa-facebook" style="color: #0222c0;"></i>
                    </a>
                    <a href="https://www.Youtube.com/" title="Síguenos en Youtube">
                        <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
                    </a>
                </div> 
            </div>    
        </div>
        <div class="g2">
            <small>&copy;2023 <b>GROUND ZERO</b> - Copyright Derechos reservados.</small>
        </div>
    </footer>
</div>
<script src="https://kit.fontawesome.com/e7fb34b24b.js" crossorigin="anonymous"></script>